:host ::ng-deep {
  .delivery-qty {
    input {
      border: none;
      text-align: center;
      width: 40px;
      background: transparent;
      border: 1px solid #ccc;
      margin: auto 10px;
      height: 1.7em;
      &:focus {
        box-shadow: none;
      }
    }
  }
  .line-item-qty {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: scale(1.2);

    .qty-inc,
    .qty-dec,
    .remove-item {
      cursor: pointer;
    }

    .remove-item {
      margin-left: 6px;
    }
  }
  .width-per-9 {
    width: 9%;
  }
  .width-em-12 {
    width: 12em;
  }
  .width-per-7 {
    width: 7%;
  }
  .p-datatable {
    .p-datatable-thead > tr > th {
      padding: 10px !important;
    }

    .p-datatable-tbody > tr > td {
      padding: 10px;
    }

    .p-datatable-tbody > tr.disabled,
    tr.disabled:hover {
      font-style: italic;
      color: #989898 !important;
      background: #f5f5f5 !important;
    }

    .p-datatable-tbody > tr.disabled td * {
      cursor: not-allowed !important;
      pointer-events: none;
    }

    .p-datatable-scrollable-body {
      max-height: 20rem;
      overflow: auto;
      height: unset;
    }

    .selection-col {
      width: 3%;
    }
  }
  .order-notes-input {
    width: 100%;
    .p-chips {
      width: 100%;
      max-height: 250px;
      ul.p-chips-multiple-container {
        overflow-y: auto;
        .p-chips-token {
          width: 100%;
          display: block;
          margin-bottom: 5px;
          background-color: #e3f2fd;
          color: black;
          .note-text {
            width: 95%;
            display: inline-block;
          }
        }
      }
    }
  }

  .p-listbox {
    background: transparent;
    border: none;
    .p-listbox-list {
      .p-listbox-item {
        &:hover {
          cursor: auto;
        }
        &:focus {
          box-shadow: none;
        }
        color: black;
        background: transparent;
        .note-item {
          width: 100%;
          .note-text {
            width: 100%;
            display: block;
            background: #eef1f4;
            padding: 4px;
            border-radius: 5px;
          }
          .note-details {
            font-size: 13px;
            font-style: italic;
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
