:host ::ng-deep {
  .p-datatable-scrollable-body {
    height: auto;
  }
}

.dashboards {
  display: block;
  overflow-y: scroll;
}

.report-container {
  overflow-y: auto;
  .report-row {
    width: 100%;
    div {
      width: 33%;
    }
  }
}
