$table-border-color: #e1e1e1;
$table-header-color: #edf1f4;

$primary-background-color: #f7f7f7;
$primary-spinner-color: #c9c9cc;
$sidebar-color-old: #5c6270;
$sidebar-color: #002049;
$sidebar-color-dark: #3c455e;
$success-bg-color: #57a339;
$error-bg-color: #db3535;
$primary-active-color: #c1d82f;

$primary-text-color: #242c38;

$base-white: #ffffff;
$grey-light: #eeeeee;
$base-grey: #91959b;
$base-black: #000000;
$text-extra-small: 10px;
$text-small: 12px;
$text-normal: 14px;
$text-medium: 15px;
$text-large: 16px;
$base-blue: #007ad9;

$dropdown-border: #c8c8c8;

$navbar-height: 76px;
$navbar-height_responsive: 120px;
