:host ::ng-deep {
  .forms-wrapper {
    display: flex;
    flex-direction: row;
  }
  .p-paginator .p-paginator-first,
  .p-paginator .p-paginator-prev,
  .p-paginator .p-paginator-next,
  .p-paginator .p-paginator-last,
  .p-paginator .p-paginator-pages {
    display: flex;
  }
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #001f49;
    border-color: #001f49;
  }
  .p-link:focus {
    box-shadow: 0 0 0 0.2rem #001e49;
  }
  .p-dataview {
    .p-paginator-bottom {
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
      border-width: 0;
    }
    .p-dataview-content {
      max-height: 68vh;
      overflow-x: auto;
      min-height: 6vh;
    }
    .p-dataview-loading-icon {
      font-size: 3rem;
      font-weight: bold;
      color: #c9c9cc;
      margin-top: 10px;
    }
  }
  .p-selectbutton .p-button {
    border-radius: 5px !important;
  }

  .card-wrapper {
    border: 0.2px solid hsl(0, 2%, 92%);
  }
  .flex-center {
    display: flex;
    align-items: center;
  }
  .cart-count {
    font-size: 16px;
    margin: 0 10px;
  }
  .product-grid-item {
    padding: 1rem;
    .pi {
      cursor: pointer;
      font-size: 1.2rem;
    }
    font-size: 12px;
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    .product-detail {
      font-size: 15px;
    }
    .product-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      .p-button {
        font-size: 10px;
        padding: 0.2rem 0.4rem;
      }
    }
  }
  .product-list-item {
    .pi {
      cursor: pointer;
      font-size: 1.2rem;
    }
    font-size: 12px;
    height: 100%;
    padding: 0 1rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    .product-detail {
      font-size: 15px;
    }
    .product-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      .p-button {
        font-size: 10px;
        padding: 0.2rem 0.4rem;
      }
    }
  }
  .p-panel.p-panel-toggleable .p-panel-header {
    padding: 0.2rem 1rem;
  }
  .item-wrapper {
    display: flex;
    flex-direction: row;
  }
  .p-autocomplete {
    .p-autocomplete-panel {
      max-height: 340px !important;
    }
  }

  .separator {
    border: 0.5px solid #c7cacc;
    height: 100%;
  }
  .disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
  }
  .p-highlight,
  .p-highlight:hover {
    .p-accordion-header-link {
      border-color: #f5f5f5 !important;
      background: #f5f5f5 !important;
      color: #201f1f !important;
      border: 0 none;
    }
  }
  .p-accordion-header-link {
    border-color: #f5f5f5 !important;
    background: #f5f5f5 !important;
    color: #201f1f !important;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 0 none;
    border-radius: 10px !important;
  }
  .p-accordion-header-link:focus {
    box-shadow: none !important;
  }
  .p-accordion-content {
    border: 0 none;
  }
}
