<div class="sub">
  <app-body-header
    displayTitle="Hospice Member {{ editmode ? 'Edit' : 'Add' }}"
    backText="Back"></app-body-header>
  <div class="forms-wrapper">
    <p-panel header="Member Information" [style]="{marginTop: '10px'}">
      <form [formGroup]="memberForm" (ngSubmit)="onSubmitMember(memberForm.value)">
        <div class="p-grid p-grid-responsive p-grid-pad p-fluid">
          <div class="p-grid">
            <div class="p-col-2 form-label">First Name *:</div>
            <div class="p-col-3">
              <input id="firstName" type="text" size="20" pInputText formControlName="firstName" />
            </div>
            <div class="p-col-2 form-label">Last Name *:</div>
            <div class="p-col-3">
              <input id="lastName" type="text" size="30" pInputText formControlName="lastName" />
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-2 form-label">Email *:</div>
            <div class="p-col-3">
              <input id="email" type="text" size="20" pInputText formControlName="email" />
            </div>
            <div class="p-col-2 form-label">Mobile :</div>
            <div class="p-col-3">
              <p-inputMask
                size="20"
                mask="(999) 999-9999"
                unmask="true"
                formControlName="phoneNumber"
                placeholder="(999) 999-9999"></p-inputMask>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-2"></div>
            <div class="p-col-8">
              <p-table [columns]="locationColumns" [value]="locationRoleData">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th>{{ hospiceDetails?.name }}</th>
                    <th>
                      <ngx-slider
                        [(value)]="hospiceRole.selectedValue"
                        [options]="options"
                        [(ngModel)]="hospiceRole.selectedValue"
                        [ngModelOptions]="{standalone: true}"
                        (userChangeEnd)="
                          assignRole($event, 'Hospice', hospiceDetails?.id)
                        "></ngx-slider>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                  <tr>
                    <td>
                      {{ rowData.name }}
                    </td>
                    <td>
                      <ngx-slider
                        [(value)]="rowData.selectedValue"
                        [options]="options"
                        [(ngModel)]="rowData.selectedValue"
                        [ngModelOptions]="{standalone: true}"
                        (userChangeEnd)="
                          assignRole($event, 'HospiceLocation', rowData.id)
                        "></ngx-slider>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="p-grid p-justify-end">
            <div class="p-col-1" *ngIf="editmode">
              <button
                pButton
                class="p-button-secondary"
                type="button"
                label="Delete"
                icon="pi pi-trash"
                [disabled]="formSubmit"
                (click)="deleteMember()"></button>
            </div>
            <div class="p-col-2">
              <button
                pButton
                type="submit"
                label="{{ memberId ? 'Update' : 'Add' }} {{ scaPath ? '& Order' : '' }}"
                icon="{{ formSubmit ? 'pi pi-spin pi-spinner' : 'pi pi-save' }}"
                [disabled]="
                  !((memberForm.touched || memberForm.dirty) && memberForm.valid && !formSubmit)
                "></button>
            </div>
          </div>
        </div>
      </form>
    </p-panel>
    <p-panel header="Change Password" [style]="{marginTop: '10px'}" *ngIf="editmode">
      <div class="p-grid p-grid-responsive p-grid-pad p-fluid" style="margin: 10px 0px">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword(passwordForm.value)">
          <div class="p-grid">
            <div class="p-col-5">
              <div class="p-grid">
                <div class="p-col-5 custom-col form-label">New Password :</div>
                <div class="p-col-7 custom-col">
                  <input
                    id="password"
                    type="password"
                    size="20"
                    pInputText
                    formControlName="password" />
                </div>
              </div>
              <div class="p-grid">
                <div class="p-col-5 custom-col form-label">Confirm Password :</div>
                <div class="p-col-7 custom-col">
                  <input
                    id="confirmPassword"
                    type="password"
                    size="20"
                    pInputText
                    formControlName="confirmPassword" />
                </div>
              </div>
              <div
                class="p-grid"
                *ngIf="
                  passwordForm.controls['password'].value && passwordForm.controls['password'].valid
                ">
                <div class="p-col-5 custom-col form-label">
                  <span>Send :</span>
                </div>
                <div class="p-col-7 custom-col form-checkbox">
                  <span>
                    <p-checkbox
                      [formControl]="passwordForm.controls['channels']"
                      value="Email"
                      label="via Email">
                    </p-checkbox>
                    <p-checkbox
                      [style]="{marginLeft: '10px'}"
                      [formControl]="passwordForm.controls['channels']"
                      value="Sms"
                      label="via SMS"></p-checkbox>
                  </span>
                </div>
              </div>
              <div class="p-grid" [style]="{marginBottom: '10px'}">
                <div class="p-col-12 custom-col btn-right">
                  <button
                    pButton
                    type="submit"
                    class="btn-right"
                    label="Set Password"
                    icon="pi pi-save"
                    [disabled]="!passwordForm.valid || passwordSubmit"></button>
                </div>
              </div>
              <div class="p-grid" *ngIf="passwordForm.controls['password'].value">
                <div class="p-col-5 custom-col form-label"></div>
                <p-message
                  class="custom-message"
                  severity="{{
                    passwordForm.controls['password'].value
                      ? passwordForm.controls['password'].hasError('hasLowerCase')
                        ? 'error'
                        : 'success'
                      : ''
                  }}"
                  text="Password must contain a lower case letter"></p-message>
              </div>
              <div class="p-grid" *ngIf="passwordForm.controls['password'].value">
                <div class="p-col-5 custom-col form-label"></div>
                <p-message
                  class="custom-message"
                  severity="{{
                    passwordForm.controls['password'].value
                      ? passwordForm.controls['password'].hasError('hasUpperCase')
                        ? 'error'
                        : 'success'
                      : ''
                  }}"
                  text="Password must contain a upper case letter"></p-message>
              </div>
              <div class="p-grid" *ngIf="passwordForm.controls['password'].value">
                <div class="p-col-5 custom-col form-label"></div>
                <p-message
                  class="custom-message"
                  severity="{{
                    passwordForm.controls['password'].value
                      ? passwordForm.controls['password'].hasError('hasSpecialCharacters')
                        ? 'error'
                        : 'success'
                      : ''
                  }}"
                  text="Password must contain a special character"></p-message>
              </div>
              <div class="p-grid" *ngIf="passwordForm.controls['password'].value">
                <div class="p-col-5 custom-col form-label"></div>
                <p-message
                  class="custom-message"
                  severity="{{
                    passwordForm.controls['password'].value
                      ? passwordForm.controls['password'].hasError('hasNumber')
                        ? 'error'
                        : 'success'
                      : ''
                  }}"
                  text="Password must contain a number"></p-message>
              </div>
              <div class="p-grid" *ngIf="passwordForm.controls['password'].value">
                <div class="p-col-5 custom-col form-label"></div>
                <p-message
                  class="custom-message"
                  severity="{{
                    passwordForm.controls['password'].value
                      ? passwordForm.controls['password'].hasError('minlength')
                        ? 'error'
                        : 'success'
                      : ''
                  }}"
                  text="Password must contain at least 8 characters"></p-message>
              </div>
              <div class="p-grid" *ngIf="passwordForm.controls['confirmPassword'].value">
                <div class="p-col-5 custom-col form-label"></div>
                <p-message
                  class="custom-message"
                  severity="{{
                    passwordForm.controls['confirmPassword'].value ||
                    passwordForm.controls['password'].value
                      ? passwordForm.controls['confirmPassword'].hasError('NoPassswordMatch')
                        ? 'error'
                        : 'success'
                      : ''
                  }}"
                  text="New Password and Confirm Password must match"></p-message>
              </div>
            </div>
            <div class="vertical">
              <div class="separator"></div>
              <div class="separator-text">OR</div>
              <div class="separator"></div>
            </div>
            <div class="p-col-4">
              <div class="p-grid">
                <h4>Send Reset Pasword Link</h4>
              </div>
              <div class="p-grid">
                <div class="p-col-4 custom-col form-label">Send :</div>
                <div class="p-col-8 custom-col form-checkbox">
                  <p-checkbox
                    [(ngModel)]="resetLinkChannels"
                    value="Email"
                    label="via Email"
                    [ngModelOptions]="{standalone: true}"></p-checkbox>
                  <p-checkbox
                    [style]="{marginLeft: '10px'}"
                    [(ngModel)]="resetLinkChannels"
                    value="Sms"
                    label="via SMS"
                    [ngModelOptions]="{standalone: true}"></p-checkbox>
                </div>
              </div>
              <div class="p-grid">
                <div class="p-col-12 custom-col btn-right">
                  <button
                    class="btn-right"
                    pButton
                    type="button"
                    (click)="onSendResetLink()"
                    label="Send Reset Link"
                    icon="pi pi-replay"
                    [disabled]="resetLinkChannels.length == 0 || resetLinkSubmit"></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </p-panel>
  </div>
</div>
<app-confirm-dialog (accepted)="deleteConfirmed()" #confirmDialog></app-confirm-dialog>
