.zipcode-form {
  width: 560px;
  .zip-code {
    display: flex;
    align-items: center;
  }
}

.site-code-error {
  font-size: 0.9em;
  font-style: italic;
}

.dialog-footer {
  > button {
    margin: auto 5px;
  }
}

.delete-zip-btn {
  margin-left: 10px;
  color: red !important;
  border: 1px solid red !important;
}

.add-zip-btn {
  border: none !important;
  padding: 10px 0;
  margin-left: 100px;
  &:focus {
    box-shadow: none !important;
  }
}

.width-100 {
  width: 100px;
}
