.patient-wrapper {
  background-color: #edf1f4;
  margin-top: 1em;
  margin-bottom: 1em;
}
.form-data {
  padding-left: 0.5em;
  font-weight: bold;
}
.open-order-msg {
  float: center;
}
.error-message {
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  display: flex;
  color: red;
}
