<div class="main-view">
  <div class="info-details info-details-block p-grid p-mb-3">
    <div class="p-col-3 info-block">
      <p class="title">Delivery Timing</p>
      <p class="info-text" *ngIf="deliveryDetails?.statOrder">
        {{ deliveryDetails?.deliveryHours + ' Hrs' }}
      </p>
      <div *ngIf="!deliveryDetails?.statOrder">
        <p class="info-text">{{ getTime('date') }}</p>
        <p class="info-text small">{{ getTime('hours') }}</p>
      </div>
    </div>
    <div class="p-col-7 info-block" *ngIf="patientInfo?.hospice">
      <p class="title">Delivery Address</p>
      <p class="info-text">{{ getAddress(deliveryDetails?.deliveryAddress) }}</p>
    </div>
  </div>

  <p-table [value]="cartItems" *ngIf="cartItems?.length > 0" [scrollable]="true">
    <ng-template pTemplate="header">
      <tr class="p-col-12">
        <th class="p-col-2">Product Image</th>
        <th>Product Name</th>
        <th class="p-col-2">Price</th>
        <th class="p-col-2">Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr class="p-col-12">
        <td class="p-col-2">
          <img
            src="{{
              item?.itemImageUrls?.length
                ? item.itemImageUrls[0]
                : '/assets/images/png/no-image-available.png'
            }}"
            class="order-image"
            [style]="{height: '2rem', width: '2rem', float: 'center'}"
            onError="this.onerror=null;this.src='/assets/images/png/no-image-available.png'" />
        </td>
        <td>{{ item?.item?.name }}</td>
        <td class="p-col-2">${{ item?.rate }}</td>
        <td class="p-col-2">{{ item?.count }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="p-grid p-nogutter p-pb-3 p-pt-3" *ngIf="patientInfo?.patientNotes?.length > 0">
    <div class="p-col-4">
      <h5 class="p-grid p-nogutter p-mb-1">Patient Instructions</h5>
      <p-listbox [options]="patientInfo?.patientNotes" [readonly]="true">
        <ng-template pTemplate="item" let-noteObj>
          <div class="note-item">
            <span class="note-text">{{ noteObj.note }}</span>
            <div class="note-details">
              <span class="date"
                >{{ noteObj.createdByUserName }} ({{
                  getDateFromString(noteObj.createdDateTime) | date: 'MMM d, y, h:mm a'
                }})</span
              >
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>

  <div class="p-grid p-nogutter p-pb-3 p-pt-3">
    <div class="info-details info-details-block p-grid p-mb-3">
      <div class="p-col-3 info-block">
        <p class="title">Ordering Nurse</p>
        <p class="info-text">{{ deliveryDetails?.nurse?.label }}</p>
      </div>
      <div class="p-col-7 info-block" *ngIf="shouldShowTpaOrderField()">
        <p class="title">TPA Order #</p>
        <p class="info-text">{{ deliveryDetails?.externalOrderNumber }}</p>
      </div>
    </div>

    <div class="p-col-8 p-pl-3" *ngIf="orderNotes?.length > 0">
      <div class="p-grid p-nogutter p-jc-start p-mb-3">
        <h5 class="p-grid">Order Notes</h5>
        <div class="notes-list" style="width: 100%">
          <p-listbox [options]="orderNotes" [readonly]="true">
            <ng-template pTemplate="item" let-noteObj>
              <div class="note-item">
                <span class="note-text">{{ noteObj.note }}</span>
                <div class="note-details">
                  <span class="date"
                    >{{ noteObj.createdByUserName }} ({{
                      noteObj?.createdDateTime | date: 'MMM d, y, h:mm a'
                    }})
                  </span>
                </div>
              </div>
            </ng-template>
          </p-listbox>
        </div>
      </div>
    </div>
  </div>
</div>
<app-current-inventory-order
  class="rightside-view"
  *ngIf="patientInfo?.id"
  [patientInfo]="patientInfo"
  [patientInventories]="patientInventories"
  [cartItems]="cartItems"
  [editmode]="editmode"
  [showUpdatePatientLink]="false"
  [showCurrentOrder]="false">
  <div class="p-pr-2">
    <button
      pButton
      label="Return to Address"
      class="p-button-secondary p-mt-3"
      (click)="returnToAddress()"></button>
  </div>
  <div>
    <button
      pButton
      [label]="editmode ? 'Update Order' : 'Place Order'"
      class="p-mt-3"
      icon="{{ formSubmit ? 'pi pi-spin pi-spinner' : 'pi pi-save' }}"
      [disabled]="!cartItems?.length || formSubmit"
      (click)="placeOrder()"></button>
  </div>
</app-current-inventory-order>
