:host ::ng-deep {
  .flyout {
    flex-direction: column;
    flex-basis: 500px;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    margin-top: 3px;

    .order-instructions {
      font-size: 13px;
      min-height: 200px;
      flex-basis: 200px;
      justify-content: center;
      .p-tabview {
        height: 100%;
        padding: 0 0.5em;
        .p-tabview-nav {
          li {
            border: none;
            text-align: center;
            width: 48%;
          }
        }

        .p-tabview-panels {
          border: none;
          height: 90%;
          background-color: var(--layer-0);
          padding: 0;

          .p-tabview-panel {
            height: 100%;
          }
        }
      }

      .instructions-title {
        padding: 0.5em;
        background-color: #5c6270;
        margin: 0.5em;
        border-radius: 10px;
        color: var(--layer-0);
      }
      .instructions-list {
        overflow: auto;
        height: 90%;
        margin: 0.8em 0;
        .note {
          display: flex;
          justify-content: space-between;
          margin: 0.3em;
          font-size: 9px;
          a:first-child {
            color: #5e6b73;
          }
          a:last-child {
            color: #002049;
            margin-right: 5px;
          }
        }
      }
      .instruction-item {
        background: #eef1f4;
        padding: 0.7em;
        border-radius: 10px 10px 0 10px;
        margin: 0.3em;
      }
    }
    .order-action {
      font-size: 0.8em;
      margin-top: 0.18em;
    }

    .order-label {
      height: 70px;
      text-align: left;
      padding: 0.7em;
      display: flex;
      flex-direction: column;
      .patient-name {
        font-size: 23px;
        font-weight: 400;
      }
      .hospice-location {
        font-size: 14px;
        color: #000000;
      }
      .patient-detail {
        a {
          font-size: 12px;
          color: #002049;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }

    .order-header {
      background-color: #f4f4f4;
      margin: 1em 0;
      padding: 1em;
      margin-bottom: 0;
      &.nurse-info {
        padding: 0 1em 0.2em 1em;
      }
      .details {
        font-size: 13px;
        margin: 0.5em 0;
        .value {
          font-weight: bold;
        }
        &.address {
          .value {
            flex-basis: 150px;
          }
        }
      }
    }
    .order-items {
      min-height: 300px;
      flex-basis: 300px;
      flex-grow: 3;
      width: 100%;
      align-self: flex-end;
      background-color: #f4f4f4;
      .line-item-header {
        background-color: #c1d82f;
        color: #002049;
        padding: 0.5em 1em;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        > .line-item-title {
          > a {
            color: inherit;
            font-weight: 400;
            font-size: 0.9em;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .line-item-list {
        overflow: auto;
        height: calc(100% - 40px);
        padding: 1em;
        > ul {
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 15px;
          .line-item {
            padding: 0.5em;
            .item-details {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
    .item-equipments {
      background-color: white;
      padding: 5px 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      span {
        color: #002049;
      }
    }

    button.close-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: var(--text-color);
      color: white;
      border-radius: 50%;
      padding: 0.5em;
      border: none;
      display: flex;
      justify-content: center;
      cursor: pointer;
      outline: none;
      > i.pi {
        align-self: center;
      }
    }

    .fulfilled-items {
      width: 100%;
      margin-left: 1.5em;
      position: relative;
      .fulfilled-status {
        position: absolute;
        top: 0;
        font-size: 1.2em;
        background-color: #c1d82f;
        border-radius: 1em;
        width: 100%;
        text-align: center;
      }
      .fulfilled-info {
        font-size: 10px;
        display: block;
        width: 100%;
        border-bottom: 1px solid #002049;
        &:first-child {
          margin-top: 2em;
        }
        .chip {
          background-color: #c1d82f;
          color: #002049;
          padding-left: 1em;
          padding-right: 1em;
          border-radius: 1em;
          margin-right: 1em;
        }
        > .time-info {
          text-align: right;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .flyout {
    .order-label {
      .patient-name {
        font-size: 20px;
      }
    }
    .order-header {
      margin: 10px 0;
      padding: 5px;
      .details {
        font-size: 12px;
      }
    }
    .order-items {
      .line-item-header {
        font-size: 14px;
      }
      .line-item-list {
        > ul {
          font-size: 12px;
        }
      }
    }
  }
}

.line-item-action {
  transform: scale(0.8);
  font-weight: 400;
  &.pickup {
    background-color: #f2994a;
  }
  &.delivery {
    background-color: #338aff;
  }
}
