<div class="forms-wrapper">
  <div class="order-details p-grid p-nogutter patient-wrapper" *ngIf="editmode && orderHeader">
    <div class="p-grid p-nogutter">
      <div class="p-col-1 form-label">Order #:</div>
      <div class="p-col-4 form-data">{{ orderHeader?.orderNumber }}</div>
    </div>
  </div>
  <app-patient-info
    [patient]="patientInfo"
    [showOrderHistory]="false"
    [showInventory]="false"></app-patient-info>
  <form
    [formGroup]="moveForm"
    (ngSubmit)="onSubmit(moveForm.value)"
    autocomplete="none"
    *ngIf="patientInfo">
    <div class="p-grid p-nogutter p-jc-start p-mb-3 p-ml-1 p-mt-1">
      <div class="p-col-3 p-pr-2">
        <h5 class="p-grid p-nogutter p-mb-1">Pickup Date *</h5>
        <p-calendar
          [monthNavigator]="true"
          placeholder="Select a pickup date"
          [yearNavigator]="true"
          [autoZIndex]="false"
          yearRange="2021:2040"
          [panelStyle]="{'z-index': '11005'}"
          formControlName="requestedDate"
          inputStyleClass="inline-edit-calendar"
          [minDate]="today">
        </p-calendar>
      </div>
      <div class="p-col-3 p-pr-2">
        <h5 class="p-grid p-nogutter p-mb-1">Pickup Time *</h5>
        <p-dropdown
          [options]="pickupTimeOptions"
          filter="true"
          [showClear]="true"
          placeholder="Select a Pickup Time"
          [panelStyle]="{width: '100%'}"
          [(ngModel)]="pickupTime"
          [ngModelOptions]="{standalone: true}">
        </p-dropdown>
      </div>
    </div>
    <div class="p-grid p-jc-start p-mb-3 p-ml-1">
      <div class="p-flex-column p-col-6">
        <h5 class="p-grid p-jc-between address-label p-nogutter p-mb-1">
          Pickup from *
          <span class="p-ai-center p-d-flex cursor-pointer" (click)="navigateToAddAddress()">
            <i class="pi pi-plus-circle"></i> &nbsp;Add Address
          </span>
        </h5>
        <div class="p-p-2 p-mb-1 address-wrapper" *ngFor="let address of patientAddresses">
          <p-radioButton
            name="pickupAddress"
            inputId="address.address"
            [value]="address.address"
            formControlName="pickupAddress">
          </p-radioButton>
          <label [for]="address.address" class="p-mb-1 p-ml-2"
            >{{ address.address ? getAddress(address.address) : '' }}
          </label>
          <a
            (click)="navigateToAddAddress()"
            class="cursor-pointer"
            style="float: right; font-size: 12px; text-align: center"
            >Edit
          </a>
        </div>
      </div>
      <div class="p-flex-column p-col-6">
        <h5 class="p-grid p-jc-between address-label p-nogutter p-mb-1">
          Deliver to *
          <span class="p-ai-center p-d-flex cursor-pointer" (click)="navigateToAddAddress()">
            <i class="pi pi-plus-circle"></i> &nbsp;Add Address
          </span>
        </h5>
        <div class="p-p-2 p-mb-1 address-wrapper" *ngFor="let address of patientAddresses">
          <p-radioButton
            name="deliveryAddress"
            inputId="address.address"
            [value]="address.address"
            formControlName="deliveryAddress">
          </p-radioButton>
          <label [for]="address.address" class="p-mb-1 p-ml-2"
            >{{ address.address ? getAddress(address.address) : '' }}
          </label>
          <a
            (click)="navigateToAddAddress()"
            class="cursor-pointer"
            style="float: right; font-size: 12px; text-align: center"
            >Edit
          </a>
        </div>
      </div>
    </div>
    <div class="p-grid p-nogutter p-mb-3 p-ml-1">
      <h5 class="p-grid p-nogutter p-mb-1">Select Items to Move*</h5>
      <p-table
        #invTable
        [value]="patientInventories"
        class="flyout-dispatch-table"
        dataKey="id"
        [rowHover]="true"
        [responsive]="true"
        [(selection)]="selectedPatientInventory"
        [scrollable]="true"
        [loading]="inventoryLoading"
        editMode="row">
        <ng-template pTemplate="header">
          <tr>
            <th class="selection-col">
              <p-tableHeaderCheckbox #headerCheckBox></p-tableHeaderCheckbox>
            </th>
            <th>Item Name</th>
            <th>Serial/Lot Number</th>
            <th>Asset Tag</th>
            <th>Original Order #</th>
            <th class="width-per-7">Available Quantity</th>
            <th class="width-per-9">Return Quantity</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-value let-editing="editing" let-index="rowIndex">
          <tr
            class="p-selectable-row"
            [pSelectableRow]="value"
            [pEditableRow]="value"
            [ngClass]="{disabled: isRowDisabled(value) || value.fulfilledQuantity}">
            <td class="selection-col">
              <p-tableCheckbox
                [ngClass]="{disabled: isRowDisabled(value) || value.fulfilledQuantity}"
                [value]="value"
                [disabled]="isRowDisabled(value) || value.fulfilledQuantity"></p-tableCheckbox>
            </td>
            <td>
              {{ value?.name }}
              <div class="td-address" *ngIf="value.deliveryAddress">
                {{ getAddress(value.deliveryAddress) }}
              </div>
            </td>
            <td>{{ value?.serialNumber }} {{ value?.lotNumber ? '/' + value.lotNumber : '' }}</td>
            <td>{{ value?.assetTagNumber }}</td>
            <td
              class="overflow-ellipsis"
              [pTooltip]="getOrderNumberDomList(value)"
              [escape]="false"
              tooltipPosition="top">
              {{ getOrderNumber(value) }}
            </td>
            <td class="width-per-7">{{ value?.quantity }}</td>
            <td class="width-per-9">
              <p-inputNumber
                *ngIf="value.quantity !== 0"
                name="itemCount"
                [(ngModel)]="value.itemCount"
                mode="decimal"
                autocomplete="off"
                [min]="1"
                [max]="value.quantity"
                [style]="{width: '95%'}"
                [disabled]="value.quantity === 1 || value.fulfilledQuantity"
                [ngModelOptions]="{standalone: true}">
              </p-inputNumber>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="p-pl-3">No inventory available</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-grid p-nogutter">
      <div class="p-col-4 p-pr-3">
        <div class="p-grid p-nogutter p-jc-start p-mb-3 p-ml-1">
          <h5 class="p-grid p-nogutter p-mb-1 p-jc-between">
            Ordering Nurse *
            <span class="p-ai-center p-d-flex cursor-pointer" (click)="navigateToAddNurse()">
              <i class="pi pi-plus-circle"></i> &nbsp;Add Nurse
            </span>
          </h5>
          <p-dropdown
            [options]="nurses"
            filter="true"
            [showClear]="true"
            class="dropdown-panel"
            formControlName="hospiceMemberId"
            placeholder="Select Ordering Nurse"
            [panelStyle]="{width: '100%'}">
          </p-dropdown>
        </div>
        <div *ngIf="shouldShowTpaOrderField()" class="p-grid p-nogutter p-jc-start p-mb-3 p-ml-1">
          <h5 class="p-grid p-nogutter p-mb-1">TPA Order #</h5>
          <input
            id="tpaOrder"
            type="text"
            size="40"
            pInputText
            autocomplete="none"
            formControlName="externalOrderNumber" />
        </div>
      </div>
      <div class="p-col-8 p-pl-3">
        <app-order-notes
          formControlName="newOrderNotes"
          [orderHeaderNotes]="orderHeader?.orderNotes">
        </app-order-notes>
      </div>
    </div>
    <div class="p-grid p-nogutter p-jc-start p-mb-3">
      <div class="p-col">
        <span
          class="btn-right"
          [pTooltip]="checkFormValidity(moveForm)"
          tooltipPosition="top"
          [escape]="false">
          <button
            pButton
            class="btn-right"
            type="submit"
            [label]="editmode ? 'Update Order' : 'Place Order'"
            icon="{{ formSubmit ? 'pi pi-spin pi-spinner' : 'pi pi-save' }}"
            [disabled]="
              !moveForm.valid || formSubmit || !pickupTime || invTable?.selection?.length === 0
            "></button>
        </span>
      </div>
    </div>
  </form>
</div>
