.zip-info {
  display: flex;
  ::ng-deep {
    .p-inputtext {
      margin: 1px;
    }
  }
}

.p-col-6 {
  padding: 0.6em 0.5em;
}
@media screen and (max-width: 768px) {
  .address {
    .unit {
      margin-left: 0 !important;
    }
    font-size: 13px;
  }
}
