<div class="p-grid p-nogutter mb-10">
  <div class="p-col-12 btn-right">
    <button
      *ngIf="checkPermission('User', 'Create') && checkPermission('Site', 'Create')"
      pButton
      class="btn-right"
      [routerLink]="['./members/add']"
      label="Add"
      icon="pi pi-plus"
      [disabled]="membersLoading"></button>
  </div>
</div>
<app-table-virtual-scroll
  [list]="membersResponse?.records"
  [pageSize]="membersRequest?.pageSize"
  [loading]="membersLoading"
  [pageLoadNextOffset]="10"
  [totalRecords]="membersResponse?.totalRecordCount"
  filterFields="[]"
  [headers]="membersHeaders"
  [pageNumber]="membersResponse?.pageNumber || 0"
  [totalPage]="membersResponse?.totalPageCount || 0"
  [selection]="true"
  (fetchNext)="nextMembers($event)">
</app-table-virtual-scroll>
