.patient-filters {
  .p-grid {
    .p-grid {
      display: flex;
      justify-content: stretch;
      > span {
        display: none;
      }
      > div {
        width: auto;
      }
    }
  }
}
.info-subtext {
  font-weight: 500;
  font-style: italic;
  font-size: 10px;
  display: flex;
  justify-content: center;
  color: red;
  &.credit-hold {
    position: absolute;
    margin-top: 5em;
  }
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #002049;
  }
  40% {
    stroke: #c1d82f;
  }
  66% {
    stroke: #002049;
  }
  80%,
  90% {
    stroke: #c1d82f;
  }
}

@media screen and (max-width: 768px) {
  .new-order-modal-body {
    flex-direction: column;
  }
}
