<div>
  <form
    [formGroup]="facilityForm"
    (ngSubmit)="onSubmitFacility(facilityForm.value)"
    autocomplete="nope">
    <div class="p-grid p-grid-responsive p-grid-pad p-fluid" style="margin: 10px 0px">
      <h4 class="form-section-header">General Info</h4>
      <div class="p-grid">
        <div class="p-col-2 form-label">Name * :</div>
        <div class="p-col-3">
          <input
            id="name"
            type="text"
            size="20"
            pInputText
            formControlName="name"
            autocomplete="off" />
        </div>
        <div class="p-col-2 form-label">Phone * :</div>
        <div class="p-col-3">
          <p-inputMask
            size="20"
            mask="(999) 999-9999"
            unmask="true"
            formControlName="phoneNumber"
            placeholder="(555) 010-0100"
            autocomplete="off"></p-inputMask>
        </div>
      </div>
      <h4 class="form-section-header">Address</h4>
      <app-address
        [address]="facilityForm.get('address')"
        [hiddenFields]="['latitude', 'longitude', 'county']">
      </app-address>
      <div class="p-grid">
        <div class="p-col-10 btn-right">
          <button
            pButton
            class="btn-right"
            type="submit"
            label="Save"
            icon="{{ formSubmit ? 'pi pi-spin pi-spinner' : 'pi pi-save' }}"
            [disabled]="
              !facilityForm.valid || formSubmit || !(facilityForm.touched || facilityForm.dirty)
            "></button>
        </div>
      </div>
    </div>
  </form>
</div>
