:host ::ng-deep {
  .dispatch-header {
    padding: 0.4em 2em 0.4em 0.4em;
    font-weight: bold;
    color: white;
    font-size: 14px;
    margin-bottom: 1em;
    .badge {
      color: #fb8002;
      font-size: 16px;
    }
  }
  .map-orders-container {
    height: calc(100vh - 123px);
    flex-flow: column;
  }
  .map-view {
    height: 32vh;
  }
  .draggable-list {
    margin-right: -1em;
    overflow: auto;
    flex: 1 1 auto;
  }
  #orderMap {
    background: grey;
    padding-left: 2em;
    height: 32vh;
    width: 100%;
    margin-right: -1em;
  }
  .p-dataview .p-dataview-content {
    background: transparent;
  }
  .dispatch {
    .dispatch-item {
      margin-top: 1em;
    }
    .p-dataview.p-widget.p-dataview-list {
      margin-top: 0em;
      .p-dataview-content.p-widget-content {
        .dispatch-item-footer {
          margin-bottom: 0.8em;
        }
      }
    }
    .calendar {
      .top-bar {
        padding-bottom: 0.4em;
        padding-top: 0.4em;
        margin-top: -0.5em;
        display: flex;
        align-items: center;
        background: #dad7d7;
        .icon {
          cursor: pointer;
          padding-left: 0.3em;
          padding-right: 0.3em;
          &.action {
            font-size: 1.8em;
          }
        }
        .label {
          font-size: 14px;
          font-weight: 400;
          margin-left: 0.5em;
        }
      }
    }
    .p-dataview.p-widget.p-dataview-list .p-dataview-content.p-widget-content {
      height: 52vh;
      overflow-y: auto;
    }
  }
  .p-progress-spinner {
    position: absolute;
    top: 30%;
    left: 36%;
    transform: translate(-50%, -50%);
  }
  .scheduler {
    .p-progress-spinner {
      top: 60%;
      left: 38%;
      z-index: 1;
    }
  }
  .p-dialog {
    .p-dialog-content.p-widget-conten {
      border-bottom-right-radius: 1em !important;
      border-bottom-left-radius: 1em !important;
    }
  }
  &.flyout-open {
    .flyout {
      min-width: 350px;
      display: flex;
    }
  }
  .dispatch-date-selection {
    .p-button {
      background-color: rgba(0, 30, 73, 0.9) !important;
    }
  }
}
.schedule-wrapper {
  display: flex;
  .schedule {
    min-width: 320px;
    width: 50%;
    .p-progress-spinner {
      position: absolute;
      top: 30%;
      left: 44%;
      transform: translate(-50%, -50%);
    }
    .col-title {
      height: 30px;
      margin: 10px;
      text-align: center;
      line-height: 30px;
      font-size: 1.2em;
    }
    .action-block {
      display: flex;
      justify-content: center;
      margin: 10px;
    }
    &.current {
      border-right: 1px solid gray;
      max-height: 60vh;
      overflow: auto;
      overflow-x: hidden;
    }
    .schedule-item {
      width: 300px;
      background-color: antiquewhite;
      margin: 10px;
      padding: 10px;
      border-left: 5px solid chartreuse;
      &.deleted {
        border-left-color: red;
      }
      > span {
        display: block;
      }
      .item-title {
        font-size: 1.2em;
      }
      .duration {
        font-size: 0.8em;
      }
    }
  }
  &.mono {
    > h3 {
      padding-left: 0.5em;
    }
    display: flex;
    flex-direction: column;
    .schedule {
      width: 100%;
      &.current {
        border: none;
      }
      .schedule-item {
        width: 100%;
      }
    }
  }
}

.route-opt {
  margin: 1rem 0;

  button {
    margin-left: 1rem;
  }
}

.available-time {
  font-size: 14px;
}

.error {
  font-size: 14px;
  color: #ff0000;
}

.disabled-truck {
  color: #91959b;
}
