:host ::ng-deep {
  .p-autocomplete {
    border: 1px solid #c1d82f !important;
    border-radius: 5px;
    input.p-inputtext {
      border: none;
      box-shadow: none;
      width: 300px;
      &:focus {
        box-shadow: none;
      }
    }
    .p-autocomplete-dropdown.p-button {
      background-color: #ffffff !important;
      border: none !important;
      color: #5c6270 !important;
      box-shadow: none;
    }
  }
  .p-dropdown .p-dropdown-label {
    font-size: 1rem;
  }
  .flyout {
    .audit-detail-label {
      text-align: left;
      font-size: 23px;
      font-weight: 400;
      padding: 0.7em;
      padding-right: 50px;
      display: flex;
      justify-content: space-between;
      background-color: var(--layer-2);
      a.p-button-secondary {
        height: 33px;
      }
    }
    .flyout-general {
      font-size: 14px;
      padding: 1em;
      margin-bottom: 0;
      span {
        font-weight: bold;
        font-size: 16px;
      }
    }
    .flyout-update {
      .flyout-container {
        td > div {
          word-wrap: break-word;
        }
      }
      font-size: 14px;
      padding: 1em;
      span {
        font-weight: bold;
        font-size: 16px;
      }
      .flyout-table {
        th {
          font-size: 11px;
        }
        td {
          font-size: 12px;
        }
      }
    }
  }
  &.flyout-open {
    .flyout {
      min-width: 500px;
      display: flex;
    }
  }

  .p-checkbox .p-checkbox-box {
    border: 1px solid #828080;
  }
  .p-checkbox-box.p-component.p-highlight.p-disabled {
    border: 1px solid #e9e9e9;
    background: #ffffff !important;
  }
  p-tableheadercheckbox {
    .p-checkbox-box.p-disabled {
      opacity: 1;
    }
  }
  .hospice-dropdown {
    width: auto !important;
  }
  .patient-wrapper {
    background-color: #edf1f4;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .form-data {
    padding-left: 0.5em;
    font-weight: bold;
  }
}

.empty-records {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  height: 40px;
  line-height: 40px;
}
